/* Prevent sites from overriding custom styling */
.papagoExt-inline * {
  all: initial;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.papagoExt-icon {
  position: absolute !important;
  display: none;
  box-sizing: content-box !important;
  width: 19px !important;
  height: 19px !important;
  z-index: 2147483647 !important;
  background-color: white !important;
  border: 1px solid #dcdcdc !important;
  border-radius: 5px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
  padding: 3px !important;
  cursor: pointer !important;
}

.papagoExt-inline {
  font-size: 16px !important;
  box-sizing: border-box !important;
  display: none;
  width: 350px !important;
  min-height: 125px !important;
  height: auto !important;
  margin: 0 !important;
  padding: 5px 10px 5px 10px !important;
  text-align: center !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  border-radius: 0.25rem !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
  overflow: hidden !important;
}

.papago-draggable {
  cursor: move !important;
}

.papagoExt-flex {
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.papagoExt-flex-column {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.papagoExt-bordered {
  margin: 0 0 5px 0 !important;
  padding: 2px !important;
  border-radius: 0.25rem !important;
  transition: background-color 0.25s !important;
}

#papagoExt-language-target {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  cursor: pointer !important;
  appearance: auto !important;
  line-height: 22px !important;
  width: 140px !important;
  height: 22px !important;
}

#papagoExt-copy-button {
  cursor: pointer !important;
  text-align: center !important;
  line-height: 22px !important;
  height: 22px !important;
}

#papagoExt-result-text {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  box-sizing: border-box !important;
  width: 100% !important;
  min-height: 82px !important;
  max-height: 200px !important;
  margin: 0 !important;
  padding: 5px !important;
  flex-grow: 3 !important;
  overflow: scroll !important;
}

#papagoExt-loader {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  display: none;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
}

#papagoExt-loading-animation {
  box-sizing: content-box !important;
  border: 10px solid #ebebeb !important;
  border-top: 10px solid #555 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  -webkit-animation: spin 2s linear infinite !important;
  animation: spin 2s linear infinite !important;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

/* Light mode */
.papagoExt-inline.light {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #bbb !important;
}

.papagoExt-inline.light .papagoExt-bordered {
  background-color: #fafafa !important;
  border: 1px solid #dcdcdc !important;
}

.papagoExt-inline.light #papagoExt-result-text {
  background-color: #fff !important;
}

.papagoExt-inline.light #papagoExt-language-target:hover,
.papagoExt-inline.light #papagoExt-copy-button:hover {
  background-color: #c9c9c9 !important;
}

/* Dark mode */
.papagoExt-inline.dark {
  background-color: #323232 !important;
  color: #ebebeb !important;
}

.papagoExt-inline.dark .papagoExt-bordered {
  background-color: #484848 !important;
  border: 1px solid #595959 !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
}

.papagoExt-inline.dark #papagoExt-result-text {
  background-color: #323232 !important;
}

.papagoExt-inline.dark #papagoExt-language-target:hover,
.papagoExt-inline.dark #papagoExt-copy-button:hover {
  background-color: #383838 !important;
}
