html {
  background-color: #dce5f5;
  overflow: hidden;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.33);
  box-shadow: 0px 0px 10px #a6bfe9;
  max-width: 700px;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 1.9em;
}

select {
  display: inherit;
}

p {
  margin: 0 0 5px 0;
}

footer {
  text-align: center;
  padding: 10px;
}

.options-section {
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 30px 10px;
}

.option {
  display: inline-block;
  background-color: #d9e1f0;
  padding: 5px;
  margin: 0 0 15px 0;
}

.radios {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.radios .option {
  margin: 0;
}

#translation-options {
  display: none;
}